* { margin: 0; padding: 0; box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; width: 960px; border-radius: 10px;}
form input { border: 0; padding: 10px; width: 850px; margin-right: 0.5%; border-radius: 10px;}
form button { width: 90px; background: #d9e4dd; border: none; padding: 10px; border-radius: 10px; }


.chat {
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.sidebar {
	background: #555555;
	border-radius: 10px;
	color: white;
	padding: 7px;
}

.sidebar .usernameLabel{
	color: black;
}

.container{
	width: 960px;
	margin: auto;
}

.messages {
    padding: 35px;
    height: 92vh;
	overflow-y:scroll;
}
.messages .messageText {
	font-size: 15px;
	font-weight: bold;
}

.messages .chatMessage {
	border-radius: 10px;
	background-color: #cdc9c3;
	padding: 10px;
	margin: 10px;
}
